<footer>
    <div class="uk-container uk-container-medium">
        <div class="section">
            <span class="text-white">A web application by Khen</span>

            <div class="nav">
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin"></a>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="github"></a>

                <a href="" class="uk-icon-button  " uk-icon="facebook"></a>
            </div>
        </div>
        
    </div>
</footer>